page-home {

}

.menu-button {
	font-size: 1.5em;
	padding: 1.5em 1em;
	margin-bottom: 0.5em;
}
.menu-button:nth-of-type(10n+1) {
	background-color: #005BFF;
}
.menu-button:nth-of-type(10n+2) {
	background-color: #7F00FF;
}
.menu-button:nth-of-type(10n+3) {
	background-color: #FF0020;
}
.menu-button:nth-of-type(10n+4) {
	background-color: #F76B00;
}
.menu-button:nth-of-type(10n+5) {
	background-color: #68B200;
}
.menu-button:nth-of-type(10n+6) {
	background-color: #03A363;
}